@font-face{
	font-family: welcomePageFont;
	src: url(thin.otf);

}

body{
	background-image: url('background-rules.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

	padding: 0;
	margin: 0;
}

#demo{
	font-family: welcomePageFont;
	color: white;
	font-size: 50pt;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;

}

#clock{
	font-family: welcomePageFont;
	color: white;
	font-size: 50pt;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;

}

h4{
	font-family: welcomePageFont;
	color: white;
	font-size: 10pt;
	color: white;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	animation: fadeIn linear 3s;
    -webkit-animation: fadeIn linear 3s;
    -moz-animation: fadeIn linear 3s;
    -o-animation: fadeIn linear 3s;
    -ms-animation: fadeIn linear 3s;

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}